

<div>
    <h1>Consultorio Medico</h1>
    <input type="text" placeholder="Documento" [(ngModel)]="documento">
    <input type="text" placeholder="Nombres" [(ngModel)]="nombre">
    <input type="text" placeholder="Apellidos" [(ngModel)]="apellido">
    <input type="number" placeholder="Edad" [(ngModel)]="edad">
    <input type="text" placeholder="Telefono" [(ngModel)]="telefono">
    <textarea placeholder="Historia Clínica" [(ngModel)]="historiaClinica"></textarea>
    <button (click)="agregarPaciente()">Agregar Paciente</button>

    <ul>
        <li *ngFor="let paciente of pacientes">
           {{paciente.documento}} - {{paciente.nombre}} {{paciente.apellido}} - {{paciente.edad}} años


        </li>
    </ul>



</div>
